﻿@model FizzBuzz.WebApp.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<body>
    <h1>Fizz Buzz</h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.Label("Please enter any positive Integer")<span class="mandatory">*</span></td>
                <td>@Html.TextBoxFor(m => m.InputData, new { @type = "text" })</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.InputData, "", new { @class = "validationFailed" })</td>
            </tr>
        </table>

        @if (Model != null && Model.Messages.Count > 0)
        {
            <h4>Output Message:</h4>
            <ul id="ulMessage">
                @foreach (var message in Model.Messages)
                {
                    if (message == "fizz")
                    {
                        <li class="fizz">@message</li>
                    }
                    else if (message == "buzz")
                    {
                        <li class="buzz">@message</li>
                    }
                    else
                    {
                        <li>@message</li>
                    }
                }
            </ul>

        }
    }
    <link href="~/css/FizzBuzz.css" rel="stylesheet" />
</body>
</html>